<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% colors.each do |color| %>
        <li class="filter-by-color">
          <%= link_to potepan_category_path(color: color.name) do %>
            <%= color.name %><span>(<%= products_count_option(color.name) %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
