<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
    <div class="panel-body">
      <% sizes.each do |size| %>
        <ul class="list-unstyled clearfix">
          <li class="filter_by_size">
            <%= link_to potepan_category_path(size: size.presentation) do %>
              <%= size.presentation %><span>(<%= products_count_option(size.name) %>)</span>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>