<div class="col-xs-6">
  <%= form_tag(potepan_category_path(@taxon.id), method: :get, enforce_utf8: false) do %>
  <%= select_tag(:sort, options_for_select([
    ["新着順", "NEW_PRODUCTS"],
    ["安い順", "LOW_PRICE"],
    ["高い順", "HIGH_PRICE"],
    ["古い順", "OLD_PRODUCTS"]],
    selected: params[:sort] || "NEW_PRODUCTS"),
    { id: "guiest_id1", class: "select-drop", onchange: "submit(this.form)"})%>
  <% end %>
</div>