<% provide(:title, @taxon.name )%>
<div class="main-wrapper">
<!-- LIGHT SECTION -->
<%= render 'light_section', taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'categories_sidebar', categories: @categories %>
        <%= render 'filter_by_color', colors: @colors %>
        <%= render 'filter_by_size', sizes: @sizes %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
        <%= render 'filter_by_sort' %>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default active" onclick="window.location.href='product_grid_left_sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
              <button type="button" class="btn btn-default" onclick="window.location.href='product_list_left_sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
            </div>
          </div>
        </div>
        <!-- Products -->
        <%= render partial: 'product', collection: @products %>
      </div>
    </div>
  </div>
</section>
<!-- Footer-logo  -->
<%= render 'layouts/footer_logos_images'%>