<div class="slide">
  <%= link_to potepan_product_path(new_products.id) do %>
    <div class="productImage clearfix">
      <%= image_tag(new_products.display_image.attachment(:product)) %>
    </div>
    <div class="productCaption clearfix">
      <h5><%= new_products.name %></h5>
      <h3><%= new_products.display_price %></h3>
    </div>
  <% end %>
</div>